$primary-color:#222831;
$secondary-color:#012757;
$accent-color:#00eaff;
$font-color: white;

$font-sizes: (
    "regular":1rem,
    "regular2":1.2rem,
    "medium": 1.5rem,
    "medium2": 1.7rem,
    "medium3": 2rem,
    "large": 2.5rem
);


@mixin flex($direction, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex2{
    display: flex;
    align-items: center;
}

@mixin flex3($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

