$primary-color:#222831;
$secondary-color:#012757;
$accent-color:#00eaff;
$font-color: rgb(0, 0, 0);

$font-sizes: (
    "regular":1rem,
    "regular2":1.2rem,
    "medium": 1.5rem,
    "medium2": 1.7rem,
    "medium3": 2rem,
    "large": 2.5rem
);

:root{
    --primary-color-1: #e3edfa;
    --secondary-color-1: #c5cfdc;
    --accent-color-1: #2e7cfb;
    --font-color-1: #ffffff;
    --content-color-1:#ffffff;
    --accent-color-op-1:rgb(46,124,251,0.2);
    --accent-color-op-l-1:rgb(46,124,251,0.4);
    --content-main-text-color-1:#222;
    --content-secondary-text-color-1:#444;
  
    --primary-color-2: #222831;
    --secondary-color-2: #3a414e;
    --accent-color-2: #00eaff;
    --accent-color-op-2:rgb(0,234,255,0.1);
    --accent-color-op-l-2:rgb(0,234,255,0.3);
    --font-color-2: white;
    --content-color-2:#1f242a;
    --content-main-text-color-2:#fff;
    --content-secondary-text-color-2:#ccc;
}

@mixin flex($direction, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex2{
    display: flex;
    align-items: center;
}

@mixin flex3($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

@function complementary-color($color) {
    $hsl: hsl($color);
    
    $complementary_hue: (hue($hsl) + 180) % 360;
    
    $complementary_rgb: adjust-hue($color, $complementary_hue);
    
    @return $complementary_rgb;
  }