$primary-color:#222831;
$secondary-color:#012757;
$accent-color:#00eaff;
$font-color: white;

$font-sizes: (
    "regular":1rem,
    "regular2":1.2rem,
    "medium": 1.5rem,
    "medium2": 1.7rem,
    "medium3": 2rem,
    "large": 2.5rem
);

:root{
    --primary-color-1: #e3edfa;
    --secondary-color-1: #0056c0;
    --accent-color-1: #8000ff;
    --font-color-1: #ddd;
  
    --primary-color-2: #222831;
    --secondary-color-2: #012757;
    --accent-color-2: #00eaff;
    --font-color-2: white;
}

@mixin flex($direction, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex2{
    display: flex;
    align-items: center;
}

@mixin flex3($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

