
.box{
    display: flex;
    flex-direction: column;
	max-width: 80vw;
}
.contents{
    display: flex;
}
.grade-year{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
	font-family: helvetica;
	color: var(--accent-color);
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: var(--content-color);
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px var(--content-main-text-color);
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: var(--accent-color);
	border: 2px solid var(--content-color);
}
.box h4{
	position: relative;
	color: var(--accent-color);
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: var(--content-main-text-color);
}
.box p{
	line-height: 1.2;
	color: var(--content-secondary-text-color);
	font-size: 17px;
}

