.first-page{
    background-color: var(--primary-color);
}
nav{
    & ul{
        height: 100%;
        & li{
            height: 100%;
            padding: 0 0.3rem;
            border-radius: 0.3rem;
            background: transparent;
            transition: all 0.4s;
            &:hover{
                background: var(--accent-color);
                color: var(--primary-color);
                font-weight: 500;
            }
        }
    }
}

.highlighted {
    height: 100%;
    padding: 0 0.3rem;
    border-radius: 0.3rem;
    background: var(--accent-color);
    color: var(--primary-color);
    font-weight: 500;
  }

#colorSwapBtn{
    margin-left:auto;
    margin-right: 1rem;
    font-size: 2rem;
    background: transparent;
    color: var(--content-main-text-color);
    border: none;
    :hover{
        cursor: pointer;
    }
}
.main-items-box{
    display: flex;
}
.hamburger{
    display: none;
    & .fline,.sline,.tline{
        background-color: var(--content-main-text-color);
        transition: all 0.4s;
    }
}

.hidden-menu{
    background-color: var(--secondary-color);
    color: var(--content-main-text-color); 
    border-top: 4px solid var(--accent-color);
}
.first-section{
    min-height: 92vh;
}

.left-section{
    margin-left: 50px;
    z-index: 1;
}

.right-section{
    z-index: 1;
    & button{
        border: 3px solid var(--accent-color);
        color: var(--accent-color);
        transition: all 0.3s ease-in-out;

        &:hover{
            cursor: pointer;
            border: none;
            color: var(--primary-color);
            background-color: var(--accent-color);
        }
    }

    & img{
        width: 400px;
        border: 10px solid var(--secondary-color);
        border-radius: 50%;
        background: radial-gradient(circle, rgb(255, 2, 150) 0%,var(--accent-color) 100%);
    }}