/*-------------------
# First Section
---------------------*/

.first-section{
    min-height: 92vh;
    @include flex2();
    padding: 0 15px;
    position: relative;
    gap: 2vw;
}

.left-section{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: map-get($font-sizes, medium);
    margin-top: 10px;
    z-index: 1;
    padding: 2vw;
}
.green{
    color:var(--accent-color);
}
.itembox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-section{
    @include flex3(column);
    gap: 10px;
    z-index: 1;
    gap: 2vw;
    & button{
        width: 140px;
        height: 40px;
        border-radius: 40px;
        border: 3px solid var(--accent-color);
        background-color: transparent;
        color: var(--accent-color);
        font-size: map-get($font-sizes, medium);
        transition: all 0.3s ease-in-out;

        &:hover{
            cursor: pointer;
            border: none;
            color: var(--primary-color);
            background-color: var(--accent-color);
        }
    }

    & img{
        width: 400px;
        border: 10px solid var(--secondary-color);
        border-radius: 50%;
        background: radial-gradient(circle, hsla(213, 90%, 48%, 1) 0%,var(--accent-color) 100%);
    }}