/*..........................
#Footer
............................*/

footer{
    background-color: var(--primary-color);
}



.foot-icons-container{
    & i{
        font-size: 2rem;
        color: var(--content-main-text-color);
        transition: all 0.3s ease-in;
        &:hover{
            color: var(--accent-color);
        }
    }
}

.resume{
    position: relative;
    background-color: transparent;
    border: 3px solid var(--accent-color);
    color: var(--content-main-text-color);
    transition: all 0.3s;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color:var(--accent-color-op); 
    }
    &:hover{
        cursor: pointer;
        background-color: var(--accent-color-op-l);
    }
}

.submitting{
    color: var(--primary-color);
    background-color: var(--accent-color);
    font-weight: 600;
    width: 190px;
    &:hover{
        color: var(--accent-color);
        background-color: transparent;
        border: 3px solid var(--accent-color);
    }
}

.msgBox{
    color: green;
}

form{
    margin: 3vh 20vw;
    margin-bottom: 0;
    gap: 3vh;
    min-width: 70vw;
    & input,textarea{
        min-width: 60vw;
        max-width: 100vw;
        color: var(--content-main-text-color);
        font-weight: bold;
        font-size: 1.5rem;
        border: none;
        padding: 1vh 2vw;
        border-radius: 4px;
        background: var(--content-color);
        box-shadow: 0px 3px 2px var(--accent-color);
    }
}
input::placeholder,textarea::placeholder{
    color: var(--content-main-text-color);
}
input:focus, textarea:focus{
    outline: none;
    box-shadow: 0px 3px 2px var(--accent-color);
  }


  .page-end{
    background-color: var(--secondary-color);
    color: var(--content-main-text-color);
  }