/* Header Styles */
header {
    @include flex(row, space-between);
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 0 10px;
    height: 8vh;
}
#colorSwapBtn{
    margin-left:auto;
    margin-right: 1rem;
    font-size: 2rem;
    background: transparent;
    color: var(--content-main-text-color);
    border: none;
    :hover{
        cursor: pointer;
    }
}
/* Logo Styles */
.logo {
    font-size: map-get($font-sizes, medium);
}

/* Navigation Styles */
nav {
    @include flex2();
    .show{
        z-index: 2;
        background-color: var(--secondary-color);
        border-top: 3px solid white;
    }
}

.nav-item-links {
    display: flex;
    list-style: none;
    & li {
        margin-right: 20px;
    }

    & a {
        text-decoration: none;
        color: var(--font-color);
    }
}

@media only screen and (min-width: 768px){
    .nav-items{
        padding: 14px 0;
        border-bottom: 4px solid var(--secondary-color);
        transition: all 0.3s ease-in-out;
        &:hover{
            cursor: pointer;
            border-bottom: 4px solid var(--accent-color);
        }
    }
}