/* Header Styles */
header {
    @include flex(row, space-between);
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 0 10px;
    height: 8vh;
}
#colorSwapBtn{
    margin-right:10px;
    font-size: 2rem;
    background: transparent;
    color: var(--font-color);
    border: none;
    :hover{
        cursor: pointer;
    }
}
/* Logo Styles */
.logo {
    font-size: map-get($font-sizes, medium);
}

/* Navigation Styles */
nav {
    @include flex2();
    .show{
        background-color: var(--secondary-color);
        border-top: 3px solid white;
    }
}

.nav-links {
    display: flex;
    list-style: none;
    & li {
        margin-right: 20px;
    }

    & a {
        text-decoration: none;
        color: var(--font-color);
    }
}

/* Burger Icon Styles */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Burger Spinning Animation */
.burger.spin {
    animation: spin 0.5s ease-in-out forwards;
}

/* Lines Styles */
.line1, .line2, .line3 {
    background-color: var(--font-color);
    width: 25px;
    height: 3px;
    margin: 3px;
    transition: transform 0.3s ease-in-out;
}

/* Styles for "x" Shape */
.burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.toggle .line2 {
    opacity: 0;
}

.burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Spin Animation Keyframes */
@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px){
    .nav-items{
        padding: 14px 0;
        border-bottom: 4px solid var(--secondary-color);
        transition: all 0.3s ease-in-out;
        &:hover{
            cursor: pointer;
            border-bottom: 4px solid var(--accent-color);
        }
    }
}