/*---------------------
# progress bar styling
---------------------*/

progress {
    border-radius: 6px;
    border: none;
    width: 15rem;
    height: 1.5rem;
    box-shadow: 0px 3px 12px 0px #2a2a2a;

    &::-webkit-progress-bar {
        background-color: var(--font-color);
    }

    &::-webkit-progress-value {
        background-color: var(--accent-color);
    }
 }
