
.project-box{
    display: flex;
    flex-direction: column;
}

.tech-stack,
.comp-prog{
    margin: 1.5vh 0vw;
    transition: all 0.4s;
    &:hover{
        cursor:pointer;
        box-shadow: 0px 3px 12px 0px var(--content-main-text-color);
    }
}
.tech-stack-title,
.comp-prog-title{
    background-color: var(--content-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.9vh 4vw;
    min-width: 90vw;
    border-bottom: 4px solid var(--accent-color);
    &h2{
        color: var(--content-main-text-color);
    }
    &p{
        color: var(--content-secondary-text-color);
    }
}

.tech-stack-content,
.comp-prog-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 10px;
    background-color: var(--content-color);
    color: var(--content-main-text-color);
}

.comp-prog-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.tech-stack-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6vh;
    &p{
        color: var(--content-main-text-color);
        font-weight: bold;
        font-size: 1.4rem;
    }
}

.tech-img{
   width: 60px;
   transition: all 0.4s;
   &:hover{
    filter:grayscale(0.7);
   }
}
#link{
    color: var(--accent-color);
    &:hover{
        position: relative;
        top: -4px;
    }
}
