
/*..........................
# Third Section
............................*/

.project-container{
    & a{
        text-decoration: none;
        color: var(--accent-color);
    }
}

.project-box{
    display: flex;
    border-radius:4px;
    transition: all 0.4s;
    &:hover{
        box-shadow: 0px 3px 12px 0px var(--content-main-text-color);
    }
}


.project-title
{
    overflow: hidden;
    padding: 10px 0;
    @include flex(row,center);
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: 600;
}

.project-image img{
    width: 300px;
    height: 250px;
    object-fit:fill;
    filter:grayscale(0%);
    transition:all 0.5s ease-in-out;

    &:hover{
        filter: grayscale(50%);
    }
}
