
/*..........................
# Third Section
............................*/

.project-container{
    & a{
        text-decoration: none;
        color: var(--accent-color);
    }
}

.project-box{
    display: flex;
    border-radius:4px;
    transition: all 0.4s;
    &:hover{
        box-shadow: 0px 3px 12px 0px var(--content-main-text-color);
    }
}


.project-title
{
    overflow: hidden;
    padding: 10px 0;
    @include flex(row,center);
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: 600;
}
.project-image{
    position: relative;
}
.project-image img{
    border-radius: 14px;
    width: 300px;
    height: 300px;
    object-fit:fill;
    filter:grayscale(0%);
    transition: box-shadow 0.4s;
}
.hovered{
    cursor: pointer;
    filter: grayscale(90%);
    opacity: 0.2;
    box-shadow: 0px 3px 12px 0px var(--content-main-text-color);
}

.project-overlay h2{
    background: var(--accent-color);
    color: var(--primary-color);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.project-overlay{
    transition: all 0.4s;
}
