.showmenu{
    display: flex;
} 

.hidemenu{
    display: none;
}
.green{
    color:var(--accent-color);
}
#border{
    border: 2px solid var(--font-color);
}
/* Styles for "x" Shape */
.Acfline {
   transform: rotate(319deg) translate(-3px, 10px)
}

.Acsline {
    opacity: 0;
}

.Actline {
    transform: rotate(50deg) translate(-1px, -8px);
}
.spin {
    animation: spin 0.4s ease-in-out forwards;
}
.green{
    color:var(--accent-color);
}
.scrolled{
    background: var(--content-color);
}

.hidden1{
    transform: translateX(-100%);
    transition: all 1s;
}
.hidden2{
    transform: translateX(100%);
    transition: all 0.7s;
}
.show1
,.show2{
    transform: translateX(0);
}
.dark-text{
    color: var(--content-main-text-color);
}
.light-dark-text{
    color: var(--content-secondary-text-color);
}
.headtext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 2.5rem;
    text-align: center;
    & h1{
        width: max-content;
    }
    &::before,
    &::after {
        content: "";
        width: calc((80vw - 2.5rem) / 2); 
        background-color: var(--accent-color);
        height: 0.2rem;
        margin: 0 auto; 
    }
}

#headEd{
    &::before,
    &::after {
        content: "";
        width: calc((50vw - 2.5rem) / 2); 
        background-color: var(--accent-color);
        height: 0.1rem;
        margin: 0 auto; 
    }
}
.fade{
    opacity: 0;
    transition: all 3.5s;
}
.removeFade{
    opacity: 1;
}
/* Spin Animation Keyframes */

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}