@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import 'config';
@import 'menu';
@import 'reset';
@import 'firstPage';
@import 'firstSection';
@import 'education';
@import 'skills';
@import 'thirdSection';
@import 'footer';
@import 'responsive';

/*------------------------------------------
# Styling Main Container having all sections 
--------------------------------------------*/
html{
    scroll-behavior: smooth;
}

main{
    @include flex(column, center);
}
body,html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

.hidden1{
    transform: translateX(-100%);
    transition: all 1s;
}
.hidden2{
    transform: translateX(100%);
    transition: all 0.7s;
}
.show1
,.show2{
    transform: translateX(0);
}
