@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import 'config';
@import 'menu';
@import 'reset';
@import 'firstSection';
@import 'secondSection';
@import 'thirdSection';
@import 'footer';
@import 'progressBar';
@import 'responsive';

/*------------------------------------------
# Styling Main Container having all sections 
--------------------------------------------*/
html{
    scroll-behavior: smooth;
}

main{
    @include flex(column, center);
}
.hidden1{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.7s;
}
.hidden2{
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.7s;
}
.show1
,.show2{
    opacity: 1;
    transform: translateX(0);
}
