@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import 'config';
@import 'menu';
@import 'reset';
@import 'firstSection';
@import 'secondSection';
@import 'thirdSection';
@import 'footer';
@import 'progressBar';
@import 'responsive';

/*------------------------------------------
# Styling Main Container having all sections 
--------------------------------------------*/
html{
    scroll-behavior: smooth;
}

main{
    @include flex(column, center);
}