@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import 'reset';
@import 'variables';

@mixin flex($direction, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin flex2{
    display: flex;
    align-items: center;
}

@mixin flex3($direction){
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.......................
# NAV BAR 
........................*/

header {
    @include flex(row, space-between);
    background-color: $secondary-color;
    color: $font-color;
    padding: 0 10px;
    height: 8vh;
}

.logo {
    font-size: map-get($font-sizes, medium);
}

nav {
    @include flex2();
}

.nav-links {
    display: flex;
    list-style: none;
    & li{
        margin-right: 20px;
    }

    & a{
        text-decoration: none;
        color: $font-color;
    }
}



.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    background-color: $font-color;
    width: 25px;
    height: 3px;
    margin: 5px;
}

/*------------------------------------------
# Styling Main Container having all sections 
--------------------------------------------*/
main{
    @include flex(column, center);
}

/*-------------------
# First Section
---------------------*/

.first-section{
    height: 92vh;
    @include flex2();
}

.left-section{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: map-get($font-sizes, medium2);
}

.green{
    color:$accent-color;
}

.right-section{
    @include flex3(column);
    gap: 10px;

    & button{
        width: 140px;
        height: 40px;
        border-radius: 40px;
        border: 3px solid $accent-color;
        background-color: $primary-color;
        color: $accent-color;
        font-size: map-get($font-sizes, medium);
        transition: all 0.1s ease-in;

        &:hover{
            cursor: pointer;
            border: none;
            color: $primary-color;
            background-color: $accent-color;
        }
    }

    & img{
        width: 400px;
        border: 10px solid $accent-color;
        border-radius: 50%;
    }
}



/*..........................
# Second Section
............................*/

.second-section{
    height: 100vh;
    width: 98vw;
    @include flex3(column);
}

.headtext{
    margin: 0 0;
    font-size: 2.3rem;
    background-color: $secondary-color;
    width: 98vw;
    @include flex(row,center);
}

.main-content{
    margin: 20px 0;
    @include flex(row,space-between);
    gap: 5vw;
}

.prog-lang,.web-dev,.problem-solving{
    @include flex3(column);
    height: 40vh;
    border: 2px solid $font-color;
    border-radius: 2% 2% 10% 10%;
    gap: 20px;
    width: 30vw;
}

.skill-content{
    @include flex(column,center);
    gap: 20px;

    & ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & li a {
        text-decoration: none;
        color: $accent-color;
    }
}

.title-text{
    background-color: $secondary-color;
    font-size: map-get($font-sizes, regular2);
    @include flex(row,center);
    padding: 10px 2px;
    width: 29.5vw;
}

.toptext{
    display: flex;
    justify-content: space-between;
}

.skill-item, .project-box{
    display: flex;
    flex-direction: column;
}


/*..........................
# Third Section
............................*/

.third-section{
    width: 98vw;
    gap: 20px;
    @include flex3(column);
    margin-bottom: 5vh;
}

.project-container{
    gap: 20px;
    @include flex(row,space-between);

    & a{
        text-decoration: none;
        color: $accent-color;
    }
}

.project-box{
    height: 36vh;
    border: 2px solid $font-color;
    width: 30vw;
}

.project-title
{
    @include flex(row,center);
    padding: 10px 0;
    background-color: $accent-color;
    color: $primary-color;
    font-weight: 600;
    height: 5vh;
}

.project-image img{
    width: 30vw;
    height: 30vh;
}

/*..........................
#Footer
............................*/

footer{
    flex-direction: column;
    @include flex2();
    background-color: $secondary-color;
    width: 99vw;
    padding: 10px 0;
}

.foot-text{
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.foot-icons-container{
    @include flex(row,center);
    gap: 1vw;

    & i{
        font-size: map-get($font-sizes, medium3);
        color: $accent-color;
    }
}


/*---------------------
# progress bar styling
---------------------*/

progress {
    height : 25px;
    width: 25vw;
    border-radius: 4px;
    border: 2px solid ;

    &::-webkit-progress-bar {
        background-color: $font-color;
    }

    &::-webkit-progress-value {
        background-color: $accent-color;
    }
 }