@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import 'config';
@import 'reset';
@import 'firstPage';
@import 'utilities';
@import 'education';
@import 'skills';
@import 'thirdSection';
@import 'footer';
@import 'responsive';

/*------------------------------------------
# Styling Main Container having all sections 
--------------------------------------------*/
html{
    scroll-behavior: smooth;
}

main{
    @include flex(column, center);
}
body,html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
/* Track */
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--secondary-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
