
/*--------------------------------------------
# Media Query for Responsive Design
------------------------------------------- */


@media screen and (max-width: 768px) {
    
    .first-section{
        flex-direction: column;
    }
    .right-section{
        margin-top: 100px;
        width: 60%;
    }
    .right-section img{
        width: 300px;
    }
    .left-section{
        margin-left: 10px;
        font-size: 1rem;
        padding: 10px;
    }
    .main-content{
        flex-direction: column;
    }
    .second-section{
        height: auto;
    }
    .prog-lang{
        height: auto;
        width: auto;
    }
    .fade{
        transition: all 1.5s;
    }
    .box{
        max-width: 100%;
    }
}

/*---------------------
# Third Section
-----------------------*/

@media only screen and (max-width: 768px) {
    .third-section {
        width: 90vw;
        gap: 10px;
    }

}

@media only screen and (min-width: 1800px){
    .box{
        max-width: 50vw;
    }
}


@media screen and (max-width: 768px) {
    .hamburger{
        display: flex;
    }
    .main-items-box{
        display: none;
    }
    
}
@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
    .contents{
        margin: 0 2vw;
    }
}
@media screen and (max-width: 800px){
    .logo{
        font-size: 1.5rem;
    }
}
