$primary-color:#222831;
$secondary-color:#00204a;
$accent-color:#00eaff;
$font-color: white;

$font-sizes: (
    "regular":1rem,
    "regular2":1.2rem,
    "medium": 1.5rem,
    "medium2": 1.7rem,
    "medium3": 2rem,
    "large": 2.5rem
);