@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/*.....................
# CSS RESET
......................*/

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'Arial', sans-serif;
    background-color: #222831;
    color: white;
}

/*.......................
# NAV BAR 
........................*/

header {
    background-color: #00204a;
    color: white;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.logo {
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

/*------------------------------------------
# Styling Main Container having all sections 
--------------------------------------------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*-------------------
# First Section
---------------------*/

.first-section{
    display: flex;
    height: 92vh;
    align-items: center;
}

.left-section{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
}

.green{
    color:#00eaff;
}
.right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.right-section button{
    width: 140px;
    height: 40px;
    border: 3px solid #00eaff;
    border-radius: 40px;
    background-color: #222831;
    color: #00eaff;
    font-size: 1.5rem;
    transition: all 0.1s ease-in;
}
.right-section button:hover{
    cursor: pointer;
    border: none;
    color: #222831;
    background-color: #00eaff;
}
.right-section img{
    width: 500px;
}


/*..........................
# Second Section
............................*/

.second-section{
    display: flex;
    height: 100vh;
    width: 98vw;
    flex-direction: column;
    align-items: center;
}

.headtext{
    margin: 0 0;
    font-size: 2.3rem;
    background-color: #00204a;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.prog-lang,.web-dev,.problem-solving{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    border: 2px solid white;
    border-radius: 2% 2% 10% 10%;
    gap: 20px;
    width: 30vw;
}

.skill-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skill-content ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-text{
    background-color: #00204a;
    font-size: 1.2rem;
    display: flex;
    padding: 10px 2px;
    width: 29.5vw;
    justify-content: center;
    align-items: center;
}

.toptext{
    display: flex;
    justify-content: space-between;
}

.skill-item{
    display: flex;
    flex-direction: column;
}

.skill-content li a {
    text-decoration: none;
    color: #00eaff;
}


/*..........................
# Third Section
............................*/

.third-section{
    display: flex;
    width: 98vw;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.project-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.project-container a{
    text-decoration: none;
    color: #00eaff;
}

.project-box{
    display: flex;
    flex-direction: column;
    height: 36vh;
    border: 2px solid white;
    width: 30vw;
}

.project-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #00eaff;
    color: #222831;
    font-weight: 600;
    height: 5vh;
}

.project-image img{
    width: 30vw;
    height: 30vh;
}

/*..........................
#Footer
............................*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00204a;
    width: 98vw;
    padding: 10px 0;
}

.foot-text{
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.foot-icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.foot-icons-container i{
    font-size: 2rem;
    color: #00eaff;
}

/*---------------------
# progress bar styling
---------------------*/

progress {
    height : 25px;
    width: 25vw;
    border-radius: 4px;
    border: 2px solid ;
 }
 progress::-webkit-progress-bar {
    background-color: white;
 }
 progress::-webkit-progress-value {
    background-color: #00eaff;
 }
